/* 

Place your overrides for the UI Library here.
Feel free to customize the panel all you want.
Do not remove the copyright text.

*/

::selection {
    color: #e4c36f !important;
}

.loading-bar-inner {
    background-color: #ebb042 !important;
}

.careers-link {
    color: #6c4908;
}

.careers-link:hover {
    color: #ebb042;
}

.sidebar-link.active,
.account-settings-sidebar-link.active,
.drop-menu-item-sidebar.active,
.drop-menu-item-sidebar.active {
    background-color: #f2f4f5;
    border-radius: 6px;
    border: 1px solid #e8b885 !important;
}

.dark-mode .sidebar-link.active,
.dark-mode .account-settings-sidebar-link.active,
.dark-mode .drop-menu-item-sidebar.active,
.dark-mode .drop-menu-item-sidebar.active {
    background-color: #0a0a0a;
    border: 1px solid #e8b885 !important;
}

.caliweb-button.primary {
    background-color: #e8b885 !important;
    border:1px solid #e8b885 !important;
    color: #000 !important;
}

.caliweb-button.primary:hover {
    background-color: #ebb042 !important;
    border:1px solid #ebb042 !important;
}

.dark-mode .caliweb-button.primary,
.dark-mode .caliweb-button.primary:hover {
    color: #000 !important;
}

.nav-links.active {
    background-color: #e8b885 !important;
}

.tab-switch-tab.active {
    border-color: #ebb042 !important;
}