/* 

Place your overrides for the UI Library here.
Feel free to customize the panel all you want.
Do not remove the copyright text.

*/

::selection {
    color: #cdc9ff !important;
}

.loading-bar-inner {
    background-color: #cdc9ff !important;
}

.careers-link {
    color: rgb(86, 7, 102);
}

.careers-link:hover {
    color: #c58adb;
}

.sidebar-link.active,
.account-settings-sidebar-link.active,
.drop-menu-item-sidebar.active,
.drop-menu-item-sidebar.active {
    background-color: #f2f4f5;
    border-radius: 6px;
    border: 1px solid #aaa4ff !important;
}

.dark-mode .sidebar-link.active,
.dark-mode .account-settings-sidebar-link.active,
.dark-mode .drop-menu-item-sidebar.active,
.dark-mode .drop-menu-item-sidebar.active {
    background-color: #0a0a0a;
    border: 1px solid #aaa4ff !important;
}

.caliweb-button.primary {
    background-color: #cdc9ff !important;
    border:1px solid #cdc9ff !important;
}

.caliweb-button.primary:hover {
    background-color: #aaa4ff !important;
    border:1px solid #aaa4ff !important;
}

.nav-links.active {
    background-color: #cdc9ff !important;
}

.tab-switch-tab.active {
    border-color: #aaa4ff !important;
}