parameters:
    level: max
    paths:
        - src
        - app
        - authentication
        - automations
        - configuration
        - dashboard
        - error
        - installation
        - lang
        - license
        - login
        - logout
        - modules
        - onboarding
        - phpmyadmin
        - registration
        - resetPassword
        - vendor
    excludePaths:
        - vendor/*
        - node_modules/*
        - storage/*
        - bootstrap/cache/*