parameters:
    level: max
    paths:
        - .  # Scans the entire project (excluding vendor)
    excludePaths:
        - vendor/*
        - .github/*
        - node_modules/*
        - storage/*
        - bootstrap/cache/*