parameters:
    level: max
    paths:
        - ../../authentication
        - ../../automations
        - ../../configuration
        - ../../dashboard
        - ../../error
        - ../../installation
        - ../../lang
        - ../../login
        - ../../logout
        - ../../modules
        - ../../onboarding
        - ../../phpmyadmin
        - ../../registration
        - ../../resetPassword
    excludePaths:
        - ../../vendor/*
        - ../../.github/*
        - ../../node_modules/*
        - ../../storage/*
        - ../../bootstrap/cache/*